*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#07101f;
  color:white;
}

.login-box{
  width:380px;
  background:#111827;
  padding:35px;
  border-radius:18px;
  box-shadow:0 0 25px rgba(59,130,246,0.4);
  text-align:center;
}

h1{ margin-bottom:10px; }
h2{ margin-bottom:20px; color:#60a5fa; }

.role-buttons{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

.role-buttons button{
  background:#374151;
}

input{
  width:100%;
  padding:13px;
  margin:10px 0;
  border:none;
  outline:none;
  border-radius:10px;
  font-size:15px;
}

button{
  width:100%;
  padding:13px;
  margin-top:12px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

button:hover{ background:#1d4ed8; }

.captcha-row{
  display:flex;
  align-items:center;
  gap:10px;
  margin-top:10px;
}

#captchaText{
  flex:1;
  background:#f3f4f6;
  color:#111827;
  padding:12px;
  border-radius:10px;
  font-weight:bold;
  letter-spacing:3px;
}

.captcha-row button{
  width:55px;
  margin:0;
}

#otpShow{
  color:#22c55e;
  margin-top:12px;
  font-weight:bold;
}

#message{
  margin-top:15px;
  color:#f87171;
}
