*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,Arial,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
    linear-gradient(rgba(0,0,0,.72),rgba(0,0,0,.72)),
    url("hostel-bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.login-card{
    width:90%;
    max-width:520px;
    padding:40px;
    background:rgba(10,10,10,.86);
    border:1px solid rgba(212,175,55,.35);
    border-radius:30px;
    box-shadow:0 25px 70px rgba(0,0,0,.65);
    color:white;
}

.logo{
    text-align:center;
    margin-bottom:25px;
}

.logo i{
    font-size:46px;
    color:#d4af37;
}

.logo h1{
    font-size:36px;
    margin-top:10px;
}

.logo p{
    margin-top:8px;
    color:#cfcfcf;
}

.top-tabs,
.role-tabs{
    display:flex;
    gap:12px;
    margin-bottom:18px;
}

.top-tabs button,
.role-tabs button{
    flex:1;
    height:55px;
    border:none;
    border-radius:15px;
    background:#252525;
    color:white;
    font-size:16px;
    font-weight:700;
    cursor:pointer;
}

.top-tabs .active,
.role-tabs .active{
    background:linear-gradient(135deg,#b8860b,#ffd700);
    color:black;
}

.input-box{
    position:relative;
    margin-bottom:18px;
}

.input-box i{
    position:absolute;
    left:18px;
    top:50%;
    transform:translateY(-50%);
    color:#d4af37;
}

.input-box input{
    width:100%;
    height:58px;
    padding-left:52px;
    border-radius:15px;
    border:1px solid rgba(212,175,55,.35);
    background:rgba(255,255,255,.06);
    color:white;
    outline:none;
    font-size:16px;
}

.input-box input::placeholder{
    color:#bdbdbd;
}

.captcha-box{
    display:flex;
    gap:12px;
    margin-bottom:18px;
}

#captchaText{
    flex:1;
    height:58px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:15px;
    border:1px solid rgba(212,175,55,.35);
    background:rgba(255,255,255,.06);
    color:#ffd700;
    font-size:22px;
    font-weight:800;
    letter-spacing:5px;
}

.captcha-box button{
    width:70px;
    border:none;
    border-radius:15px;
    background:linear-gradient(135deg,#b8860b,#ffd700);
    color:black;
    font-size:18px;
    font-weight:800;
    cursor:pointer;
}

.main-btn{
    width:100%;
    height:60px;
    border:none;
    border-radius:15px;
    background:linear-gradient(135deg,#b8860b,#ffd700);
    color:black;
    font-size:18px;
    font-weight:800;
    cursor:pointer;
}

#registerForm{
    display:none;
}

#message{
    margin-top:14px;
    text-align:center;
    color:#ff6b6b;
    font-weight:600;
}

@media(max-width:600px){
    .login-card{
        width:94%;
        padding:25px;
    }

    .logo h1{
        font-size:30px;
    }
}
