body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
    rgba(0,0,0,0.70),
    rgba(0,0,0,0.70)
    ),
    url("./images/hostel-bg.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.login-card{
    width:92%;
    max-width:460px;

    padding:40px;

    background:rgba(10,10,10,0.80);

    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(20px);

    border:1px solid rgba(212,175,55,0.25);

    border-radius:30px;

    box-shadow:
    0 15px 40px rgba(0,0,0,0.60);

    color:white;
}

.logo{
    text-align:center;
    margin-bottom:25px;
}

.logo i{
    font-size:50px;
    color:#D4AF37;
    margin-bottom:10px;
}

.logo h1{
    font-size:34px;
    font-weight:700;
    color:#ffffff;
}

.logo p{
    color:#c5c5c5;
    font-size:14px;
}

.tabs{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

.tabs button{
    flex:1;

    padding:13px;

    border:none;
    border-radius:14px;

    background:rgba(255,255,255,0.08);

    color:white;

    font-weight:600;
    cursor:pointer;
}

.tabs .active{
    background:linear-gradient(
    135deg,
    #B8860B,
    #FFD700
    );

    color:black;
}

.input-box{
    position:relative;
    margin-bottom:15px;
}

.input-box i{
    position:absolute;
    left:15px;
    top:50%;
    transform:translateY(-50%);

    color:#D4AF37;
}

.input-box input{
    width:100%;

    padding:14px 14px 14px 45px;

    border:1px solid rgba(212,175,55,0.15);

    border-radius:14px;

    background:rgba(255,255,255,0.05);

    color:white;

    outline:none;
}

.input-box input::placeholder{
    color:#bdbdbd;
}

.captcha-box{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

#captchaText{
    flex:1;

    padding:14px;

    text-align:center;

    border-radius:14px;

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(212,175,55,0.20);

    color:#FFD700;

    font-weight:700;
    letter-spacing:4px;
}

.captcha-box button{
    width:60px;

    border:none;
    border-radius:14px;

    background:#D4AF37;

    color:black;

    cursor:pointer;
}

.main-btn{
    width:100%;

    padding:14px;

    border:none;
    border-radius:14px;

    background:linear-gradient(
    135deg,
    #B8860B,
    #FFD700
    );

    color:black;

    font-size:16px;
    font-weight:700;

    cursor:pointer;
}

#message{
    margin-top:12px;
    text-align:center;

    color:#ff6b6b;
}

@media(max-width:500px){

.login-card{
    padding:25px;
}

.logo h1{
    font-size:28px;
}

}
